body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
    color: #ff6347; /* Tomate para o efeito hover */
}

main {
    padding: 20px;
    background-color: #fff;
    margin: 20px auto;
    max-width: 800px;
}

h1 {
    font-family: 'Georgia', serif;
}

p {
    font-family: 'Verdana', sans-serif;
}

img {
    width: 100%;
    max-width: 150px;
    height: auto;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
